footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

footer a {
    color: #333;
    text-decoration: none;
}

#backgroundContainer {
    /* position: fixed; */
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-image: url(https://pic2.zhimg.com/50/v2-5a00aa85936455a30290d1826d87b554_720w.jpg?source=1940ef5c);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

#foots {
    display: inline-block;
    padding-left: 20px;
    padding-right: 20px;
}


button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    color: #333;
}